@model IEnumerable<StarForceMIS.Web.Models.GuardViewModel>

@{
    ViewBag.Title = "Attendance";
}

<br />
<div class="container">
    <h3>@DateTime.UtcNow.ToLongDateString() - Guard Attendance</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong class="text-center">
                            @item.FirstName @item.LastName
                        </strong>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-thumbnail" src="@Url.Action("GetUserImage", "SGManagement", new { id = item.ID })" />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <button class="btn btn-primary col-md-12">Present</button>
                            </div>
                            <div class="row">
                                <button class="btn btn-danger col-md-12">Absent</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>