@model IEnumerable<StarForceMIS.Web.Models.GuardViewModel>

@{
    ViewBag.Title = "Index";
}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            <span class="glyphicon glyphicon-user">&nbsp;</span>
            StarForce Security Guard List
        </h3>
        <a href="/SGManagement/NewGuard" class="btn btn-sm btn-default pull-right glyphicon glyphicon-plus"></a>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Search", "SGManagement", FormMethod.Get, new { @class = "form-inline", @id="searchGuardForm" }))
        {
            <div class="row">
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="querystring" name="querystring" placeholder="Search guard information">
                    </div>
                    <button type="submit" class="btn btn-default btnsearch">Search</button>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="guardList col-md-12">
                    @Html.Partial("partial/_GuardList", Model)
                </div>
            </div>
            
        }

    </div>
</div>
@section scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/App/SGManagement/Index.js"></script>
}