@model StarForceMIS.Web.Models.ScheduleDayOffViewModel
<div class="form-group">
    @Html.LabelFor(model => model.GuardID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.GuardID, new SelectList(Model.GuardList, "ID", "Fullname", Model.GuardList.First().ID), new { @class = "form-control", @name = "GuardID", @id = "GuardID" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.RelieverID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.RelieverID, new SelectList(Model.RelieverList, "ID", "Fullname", Model.RelieverList.First().ID), new { @class = "form-control", @name = "RelieverID", @id = "RelieverID" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-10 col-md-offset-3">
        <input type="submit" value="Create" class="btn btn-default btn btn-primary col-md-3" />
    </div>
</div>
